<nav class="navbar navbar-expand-md bg-body-tertiary" aria-label="Fourth navbar example">
    <div class="container-fluid">
      
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample04">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/pacijent">Profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/pacijent/lekari">Lekari</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/pacijent/pregledi">Pregledi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/pacijent/obavestenja">Obaveštenja</a>
          </li>

        </ul>
        <button type="button" class="btn btn-secondary" (click)="odjaviSe()">Odjavi se</button>
      </div>
    </div>
</nav>

<div class="row g-5" id="row1">
    <div class="col-md-7" id="div1">
        <h4>Obaveštenja</h4>
        <div *ngFor="let o of obavestenja" class="klasica mb-2 p-3">
            <span *ngIf="!o.procitano" class="badge bg-primary">New<br/></span>
            {{o.tekst}}

        </div>
        <br/><br/>
    </div>
</div>

