nav{
    padding-top: 9vh;
    z-index: 1045;
}

#row1{
    position: absolute;
    top: 50px;
    padding-top: 100px;
    padding-left: 12vw;
    max-width: 100%;
    
}

#div1{
    margin-right: 50px;
    min-width: 35rem;
}