<div class="text center">
    <form class="form-signin text-center">
        <p class="p1 text-center fs-3 text-secondary">Prijava na sistem</p>
        <input type="text" class="form-control" [(ngModel)]="username" [ngModelOptions]="{standalone: true}" placeholder="korisničko ime" required autofocus>
        <input type="password" class="form-control" [(ngModel)]="password" [ngModelOptions]="{standalone: true}" placeholder="lozinka" required>
        <button class="btn btn-lg btn-primary btn-block" (click)="login()">Prijavi se</button>
        <br/><br/>
        <p class="text-danger">{{error}}</p>
    </form>
</div>