
#row1{
    position: absolute;
    top: 50px;
    padding-top: 50px;
    padding-left: 12vw;
    max-width: 100%;
    
}
/*
#div1{
    background-color: #d2e9e3;
    border-color: #8fb4a9;
    border-style: solid;
    border-radius: 10px;
}

#div2{
    margin-left: 50px;
    background-color: #d2e9e3;
    border-color: #8fb4a9;
    border-style: solid;
    border-radius: 10px;
}*/

